:root {
    --dark-square: grey;
    --light-square: white;
    --dark-square-highlight: #dce0ad;
    --light-square-highlight: #faffc4;
    --white-highlight: #f5f5f5;
    --btn-highlight: #bdb300;
    --btn-shadow: #e3d800;
}