:root {
    --calm-blue: #cce0ff;
    --hard-blue: #4d94ff;
    --dark-square: grey;
    --light-square: white;
    --dark-square-highlight: #dce0ad;
    --light-square-highlight: #faffc4;
    --white-highlight: #f5f5f5;
}