@import "palette.css";

body {
    margin: 0px;
    background-color: var(--calm-blue);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: 500px;
    width: 500px;
    border: 5px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.row > .cell {
    flex: 1;
    box-sizing: border-box;
}

.row > .cell:hover {
    box-shadow:inset 0px 0px 0px 5px yellow;
}

.row:nth-child(odd) > .cell:nth-child(odd) {
    background: var(--light-square);
}

.row:nth-child(odd) > .cell:nth-child(even) {
    background: var(--dark-square);
}

.row:nth-child(even) > .cell:nth-child(odd) {
    background: var(--dark-square);
}

.row:nth-child(even) > .cell:nth-child(even) {
    background: var(--light-square);
}

.row:nth-child(odd) > .cell:nth-child(odd).selected {
    background: var(--light-square-highlight);
}

.row:nth-child(odd) > .cell:nth-child(even).selected {
    background: var(--dark-square-highlight);
}

.row:nth-child(even) > .cell:nth-child(odd).selected {
    background: var(--dark-square-highlight);
}

.row:nth-child(even) > .cell:nth-child(even).selected {
    background: var(--light-square-highlight);
}

.cell.selected {
    box-shadow:inset 0px 0px 0px 5px yellow;
}

.nav-bar {
    margin: 0;
    padding: 0px 20px;
    overflow: hidden;
    background-color: var(--hard-blue);
    color: white;
}

.nav-bar .title {
    font-family: Verdana;
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
    font-style: bold;
}

.basic-btn {
    padding: 1.5em 3em;
    text-decoration: none;
    background-color: white;
    border-radius: 1em;
    border: 2px solid var(--hard-blue);
    color: var(--hard-blue);
    text-transform: uppercase;
    position:relative;
    box-shadow: 0 5px 0 var(--calm-blue);
    margin-bottom: 10px;
}

.basic-btn:hover {
    background-color: #f5f5f5;
    border-color: blue;
    color: blue;
    bottom: 5px;
    box-shadow: 0 5px 0 blue;
}