@import "palette.css";

body {
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sections {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 0px 0px 0px 30px
}

.section {
    width: 50%;
}

.image-section {
    content:url("https://assets.dicebreaker.com/chess-playing-hand.jpeg/BROK/resize/1920x1920%3E/format/jpg/quality/80/chess-playing-hand.jpeg");
    object-fit: cover;
}

.board {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: 500px;
    width: 500px;
    border: 5px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    box-sizing: border-box;
}

/* .cell:hover {
    box-shadow:inset 0px 0px 0px 5px yellow;
} */

.cell.idle {
    box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0);
    transition: 0.5s linear all;
}

.cell.error {
    box-shadow:inset 0px 0px 0px 5px red;
    transition: 0.5s linear all;
}

.row:nth-child(odd) > .cell:nth-child(odd) {
    background: var(--light-square);
}

.row:nth-child(odd) > .cell:nth-child(even) {
    background: var(--dark-square);
}

.row:nth-child(even) > .cell:nth-child(odd) {
    background: var(--dark-square);
}

.row:nth-child(even) > .cell:nth-child(even) {
    background: var(--light-square);
}

.row:nth-child(odd) > .cell:nth-child(odd).selected {
    background: var(--light-square-highlight);
}

.row:nth-child(odd) > .cell:nth-child(even).selected {
    background: var(--dark-square-highlight);
}

.row:nth-child(even) > .cell:nth-child(odd).selected {
    background: var(--dark-square-highlight);
}

.row:nth-child(even) > .cell:nth-child(even).selected {
    background: var(--light-square-highlight);
}

.cell.selected {
    box-shadow:inset 0px 0px 0px 5px yellow;
}

.nav-bar {
    margin: 0;
    padding: 0px 20px;
    overflow: hidden;
    background-color: black;
    color: white;
}

.nav-bar .title {
    font-family: Verdana;
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
    font-style: bold;
    transition: 1s linear all;
    cursor: pointer;
}

.nav-bar .title a {
    text-decoration: none;
    color: inherit
}

.nav-bar .title:hover {
    color: yellow;
    transition: 1s linear all;
}

.basic-btn {
    padding: 1.5em 3em;
    text-decoration: none;
    background-color: white;
    border-radius: 1em;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    position:relative;
    box-shadow: 0 5px 0 grey;
    margin-bottom: 10px;
}

.basic-btn:hover {
    border-color: var(--btn-highlight);
    color: var(--btn-highlight);
    bottom: 5px;
    box-shadow: 0 5px 0 var(--btn-shadow);
}

.game-card {
    display: block;
    padding: 2em 6em;
    text-decoration: none;
    background-color: white;
    border-radius: 0.5em;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    position:relative;
    box-shadow: 0 5px 0 grey;
    margin-bottom: 10px;
}